html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

html {
  font-family: Roboto, sans-serif;
}

.weather {
  width: 100%;
}

html[data-theme=day] {
  background: #53a6cb;
}

html[data-theme=night] {
  background: #243f4d;
}

html[data-theme=day] .settings__button {
  color: #53a6cb;
}

html[data-theme=night] .settings__button {
  color: #243f4d;
}

html[data-theme=day] .weather,
.weather {
  background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}

html[data-theme=night] .weather {
  background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

.weather__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
}

.navigation__icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  max-width: 10%;
}
.navigation__title {
  text-align: center;
  font-size: 2em;
  margin: 1em;
}

.current {
  text-align: center;
  margin-bottom: 2em;
}
.current__city {
  font-size: 3em;
  margin-bottom: 0.25em;
}
.current__description {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.current__temperature {
  font-size: 4em;
  margin-bottom: 1em;
}
.current__icon {
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 4em;
  height: 4em;
}

.details__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.details__item {
  flex: 1;
}
.details__name {
  margin-bottom: 1em;
}
.details__value {
  font-size: 1.5em;
}

.settings__form {
  display: flex;
  justify-content: center;
}
.settings__input {
  font-size: large;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px;
  border-bottom: 2px solid #fff;
  min-width: 30vw;
}
.settings__button {
  font-size: large;
  background-color: #fff;
  padding: 0 15px 0 15px;
  border-radius: 0px;
  margin-left: -5px;
  outline: none;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  min-width: 10%;
}

.list {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.list__item {
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding: 0.5em;
  border: 2px solid #fff;
}
.list__burger-button {
  cursor: pointer;
  margin-right: 1em;
}
.list__burger, .list__burger::before, .list__burger::after {
  display: block;
  background-color: #fff;
  margin-top: 7px;
  height: 2px;
  width: 30px;
  border-radius: 2px;
}
.list__burger::before {
  content: "";
  position: absolute;
  margin-top: -6px;
}
.list__burger::after {
  content: "";
  position: absolute;
  margin-top: 6px;
}
.list__dismiss-button {
  font-size: large;
  cursor: pointer;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

html.transition,
html.transition * {
  transition: all 2000ms !important;
  transition-delay: 0 !important;
}

.icon__01d,
.icon__01n,
.icon__02d,
.icon__02n,
.icon__03d,
.icon__03n,
.icon__04d,
.icon__04n,
.icon__09d,
.icon__09n,
.icon__10d,
.icon__10n,
.icon__11n,
.icon__11n,
.icon__13d,
.icon__13n,
.icon__50d,
.icon__50n {
  background-size: 4em;
  background-repeat: no-repeat;
}

.icon__01d,
.icon__01n {
  background-image: url("../images/01d.png");
}

.icon__02d,
.icon__02n {
  background-image: url("../images/02d.png");
}

.icon__03d,
.icon__03n {
  background-image: url("../images/03d.png");
}

.icon__04d,
.icon__04n {
  background-image: url("../images/04d.png");
}

.icon__09d,
.icon__09n {
  background-image: url("../images/09d.png");
}

.icon__10d,
.icon__10n {
  background-image: url("../images/10d.png");
}

.icon__11n,
.icon__11n {
  background-image: url("../images/11d.png");
}

.icon__13d,
.icon__13n {
  background-image: url("../images/13d.png");
}

.icon__50d,
.icon__50n {
  background-image: url("../images/50d.png");
}/*# sourceMappingURL=main.css.map */